.code-block{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 75%;
}
.code-container{
  width: 100%;
  background-color: #0b131b;
  display: flex;
  flex-direction: column;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
#preview{
  min-height: min-content;
  border: none;
  outline: none;
  width: calc(100% + 15px);
  margin-left: -6px;
}

.code-head1{
  display: flex;
  justify-content: space-between;
  height: 40px;
  background-color: var(--code-head-bc);
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  color: var(--text-head);
  font-size: 12px;
  overflow: hidden;
}
.code-head1 .tab-buttons{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 130px;
  height: 100%;
}
.code-head1 .tab-button{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 1rem;
  cursor: pointer;
}
.code-head1 .tab-button.active{
  background-color: hsl(200, 9%, 15%);
}
.code-head1 .right{
  width: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: .5rem 1rem;
}
.code-head1 .right svg{
  height: 20px;
  fill: var(--text-head);
  cursor: pointer;
}
.code-head1 .right svg.play-icon{
  stroke: var(--text-head);
  stroke-width: 2px;
  fill: none;
}
.code-head1 .right .copy-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .3rem;
  cursor: pointer;
  width: 100px;
}
.code-editor{
  padding: 20px;
}