@import url('../../app.css');

:root{
  --heading-l: 2.7rem;
  --heading-m: 2.2rem;
  --heading-s: 1.8rem;
  --heading-xs: 1.4rem;
  --heading-xxs: 1.2rem;

  --padding-l: 2rem;
  --padding-m: 1.5rem;
  --padding-s: 1rem;
  --padding-xs: 0.5rem;
  --padding-xxs: 0.25rem;

  --margin-l: 2rem;
  --margin-m: 1.5rem;
  --margin-s: 1rem;
  --margin-xs: 0.5rem;
  --margin-xxs: 0.25rem;

  --paragraph-l: 1.2rem;
  --paragraph-m: 1rem;
  --paragraph-s: 0.875rem;

  --line-height-l: 1.6;
  --line-height-m: 1.5;
  --line-height-s: 1.4;

  --fw-r: 400;
  --fw-m: 500;
  --fw-sb: 600;
  --fw-b: 700;
}

.tutorial h1{
  font-size: var(--heading-l);
  margin-bottom: var(--margin-l);
}
.tutorial h2{
  font-size: var(--heading-s);
  margin: var(--margin-l) 0 var(--margin-s);
}
.tutorial h3{
  margin: var(--margin-l) 0 var(--margin-xs);
}
.tutorial ul{
  margin-left: var(--margin-l);
}
.tutorial li{
  margin-top: var(--margin-xs);
  font-weight: var(--fw-m);
}
.tutorial p{
  font-weight: var(--fw-m);
  margin-bottom: var(--margin-s);
}

.tutorial .inside-explaination{
  margin-left: var(--margin-m);
}
.tutorial .inside-explaination p{
  margin-left: var(--margin-s);
}

/* HTML Introduction */
#what-is-html, #html-structure, #basic-tags{
  scroll-margin-top: calc(var(--heading-s) + var(--margin-l) + 5px);
}


