@import url('https://unicons.iconscout.com/release/v4.0.8/css/line.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Orbitron&family=Outfit&display=swap');
@import url('./app.css');

nav {
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--background);
  padding: 15px 80px 15px 50px;
  z-index: 100;
  border-bottom: var(--nav-bottom-border);
}

nav > a {
  text-decoration: none;
  font-family: 'Orbitron', sans-serif;
  font-size: 20px;
  font-weight: bolder;
  color: var(--accent);
  letter-spacing: 2px;
}
nav .right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
nav .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
nav .navigation a {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: var(--text);
  font-weight: 600;
  font-size: 1rem;
  transition: all .1s linear;
}
nav .navigation a.anchor:hover {
  border-bottom: 2px solid var(--text);
}
nav .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
nav img {
  cursor: pointer;
  width: 30px;
  height: 30px;
}
nav .icons a img {
  margin-bottom: -3px;
}
