@import url('./app.css');

#root{
  display: flex;
  flex-direction: column;  
}
#course-page{
  display: flex;
  padding-top: 50px;
  width: 100dvw;
  min-height: 100dvh;
  background-color: var(--background1);
}
main#main{
  width: 100%;
  padding: 35px 16px 0;
  padding-left: 235px;
  flex-grow: 1;
  color: var(--text);
}
main#main.full {
  padding-left: 40px;
}
main > .open-btn {
  top: 70px;
  left: 10px;
  transform: rotate(180deg);
  width: 20px;
  height: 20px;
}
main > .open-btn.show {
  display: block !important;
}

section.tutorial{
  width: 100%;
  padding-right: 80px;
}
.num-indent{
  margin-left: 1.5em;
  text-indent: -1.6em;
}

@media (max-width: 1024px) {
  section.tutorial{
    padding-right: 50px;
  }
}
@media (max-width: 940px) {
  section.tutorial{
    padding-right: 30px;
  }
}
@media (max-width: 880px) {
  section.tutorial{
    padding-right: 20px;
  }
}
@media (max-width: 832px) {
  .tutorial hr {
    margin-right: 15px;
  }
}
@media (max-width: 820px) {
  section.tutorial{
    padding-right: 10px;
  }
}
@media (max-width: 930px) {
  main > .open-btn {
    display: none;
  }
}
@media (max-width: 666px) {
  main#main {
    padding-left: 20px;
  }
  main#main.full {
    padding-left: 20px;
  }
  section.tutorial{
    padding-right: 0px;
  }
  .tutorial hr {
    margin-right: 10px;
  }
}
@media (max-width: 480px) {
  main#main {
    padding: 35px 10px 0;
  }
  main#main.full {
    padding-left: 10px;
  }
}