/* Font Size Classes */
.fs-0  { font-size: 10px !important; }
.fs-1  { font-size: 12px !important; }
.fs-2  { font-size: 14px !important; }
.fs-3  { font-size: 16px !important; }
.fs-4  { font-size: 18px !important; }
.fs-5  { font-size: 20px !important; }
.fs-6  { font-size: 24px !important; }
.fs-7  { font-size: 28px !important; }
.fs-8  { font-size: 32px !important; }
.fs-9  { font-size: 40px !important; }
.fs-10 { font-size: 48px !important; }
.fs-11 { font-size: 56px !important; }
.fs-12 { font-size: 64px !important; }
@media (max-width: 1239px) {
  .fs-0  { font-size: 9px !important; }
  .fs-1  { font-size: 11px !important; }
  .fs-2  { font-size: 13px !important; }
  .fs-3  { font-size: 15px !important; }
  .fs-4  { font-size: 17px !important; }
  .fs-5  { font-size: 19px !important; }
  .fs-6  { font-size: 23px !important; }
  .fs-7  { font-size: 27px !important; }
  .fs-8  { font-size: 30px !important; }
  .fs-9  { font-size: 38px !important; }
  .fs-10 { font-size: 46px !important; }
  .fs-11 { font-size: 54px !important; }
  .fs-12 { font-size: 60px !important; }
}
@media (max-width: 767px) {
  .fs-0  { font-size: 8px !important; }
  .fs-1  { font-size: 10px !important; }
  .fs-2  { font-size: 12px !important; }
  .fs-3  { font-size: 14px !important; }
  .fs-4  { font-size: 16px !important; }
  .fs-5  { font-size: 18px !important; }
  .fs-6  { font-size: 21px !important; }
  .fs-7  { font-size: 24px !important; }
  .fs-8  { font-size: 28px !important; }
  .fs-9  { font-size: 34px !important; }
  .fs-10 { font-size: 40px !important; }
  .fs-11 { font-size: 46px !important; }
  .fs-12 { font-size: 52px !important; }
}
@media (max-width: 532px) {
  .fs-0  { font-size: 7px !important; }
  .fs-1  { font-size: 9px !important; }
  .fs-2  { font-size: 11px !important; }
  .fs-3  { font-size: 13px !important; }
  .fs-4  { font-size: 15px !important; }
  .fs-5  { font-size: 17px !important; }
  .fs-6  { font-size: 19px !important; }
  .fs-7  { font-size: 21px !important; }
  .fs-8  { font-size: 24px !important; }
  .fs-9  { font-size: 28px !important; }
  .fs-10 { font-size: 32px !important; }
  .fs-11 { font-size: 36px !important; }
  .fs-12 { font-size: 40px !important; }
}

.fw-4 { font-weight: 400 !important; }
.fw-5 { font-weight: 500 !important; }
.fw-6 { font-weight: 600 !important; }
.fw-7 { font-weight: 700 !important; }
.fw-8 { font-weight: 800 !important; }
.fw-9 { font-weight: 900 !important; }

/* Padding Classes */
.pd--1 { padding: -4px !important; }
.pd--2 { padding: -8px !important; }
.pd--3 { padding: -12px !important; }
.pd--4 { padding: -16px !important; }
.pd--5 { padding: -20px; }
.pd-1  { padding: 4px !important; }
.pd-2  { padding: 8px !important; }
.pd-3  { padding: 12px !important; }
.pd-4  { padding: 16px !important; }
.pd-5  { padding: 20px !important; }
.pd-6  { padding: 24px !important; }
.pd-7  { padding: 32px !important; }
.pd-8  { padding: 40px !important; }
.pd-9  { padding: 48px !important; }
.pd-10 { padding: 56px !important; }
@media (max-width: 1239px) {
  .pd--1 { padding: -2px !important; }
  .pd--2 { padding: -4px !important; }
  .pd--3 { padding: -6px !important; }
  .pd--4 { padding: -8px !important; }
  .pd--5 { padding: -10px !important; }
  .pd-1  { padding: 2px !important; }
  .pd-2  { padding: 4px !important; }
  .pd-3  { padding: 6px !important; }
  .pd-4  { padding: 8px !important; }
  .pd-5  { padding: 10px !important; }
  .pd-6  { padding: 12px !important; }
  .pd-7  { padding: 16px !important; }
  .pd-8  { padding: 20px !important; }
  .pd-9  { padding: 24px !important; }
  .pd-10 { padding: 28px !important; }
}
@media (max-width: 767px) {
  .pd--1 { padding: -1px !important; }
  .pd--2 { padding: -2px !important; }
  .pd--3 { padding: -3px !important; }
  .pd--4 { padding: -4px !important; }
  .pd--5 { padding: -5px !important; }
  .pd-1  { padding: 1px !important; }
  .pd-2  { padding: 2px !important; }
  .pd-3  { padding: 3px !important; }
  .pd-4  { padding: 4px !important; }
  .pd-5  { padding: 5px !important; }
  .pd-6  { padding: 6px !important; }
  .pd-7  { padding: 8px !important; }
  .pd-8  { padding: 10px !important; }
  .pd-9  { padding: 12px !important; }
  .pd-10 { padding: 14px !important; }
}
@media (max-width: 532px) {
  .pd--1 { padding: 0 !important; }
  .pd--2 { padding: -1px !important; }
  .pd--3 { padding: -2px !important; }
  .pd--4 { padding: -3px !important; }
  .pd--5 { padding: -4px !important; }
  .pd-1  { padding: 1px !important; }
  .pd-2  { padding: 2px !important; }
  .pd-3  { padding: 3px !important; }
  .pd-4  { padding: 4px !important; }
  .pd-5  { padding: 5px !important; }
  .pd-6  { padding: 6px !important; }
  .pd-7  { padding: 8px !important; }
  .pd-8  { padding: 10px !important; }
  .pd-9  { padding: 12px !important; }
  .pd-10 { padding: 14px !important; }
}


/* Padding Top Classes */
/* Base padding values in px */
.pdt--1 { padding-top: -4px !important; }
.pdt--2 { padding-top: -8px !important; }
.pdt--3 { padding-top: -12px !important; }
.pdt--4 { padding-top: -16px !important; }
.pdt--5 { padding-top: -20px !important; }
.pdt-1  { padding-top: 4px !important; }
.pdt-2  { padding-top: 8px !important; }
.pdt-3  { padding-top: 12px !important; }
.pdt-4  { padding-top: 16px !important; }
.pdt-5  { padding-top: 20px !important; }
.pdt-6  { padding-top: 24px !important; }
.pdt-7  { padding-top: 32px !important; }
.pdt-8  { padding-top: 40px !important; }
.pdt-9  { padding-top: 48px !important; }
.pdt-10 { padding-top: 56px !important; }
@media (max-width: 1239px) {
  .pdt--1 { padding-top: -3px !important; }
  .pdt--2 { padding-top: -6px !important; }
  .pdt--3 { padding-top: -9px !important; }
  .pdt--4 { padding-top: -12px !important; }
  .pdt--5 { padding-top: -15px !important; }
  .pdt-1  { padding-top: 3px !important; }
  .pdt-2  { padding-top: 6px !important; }
  .pdt-3  { padding-top: 9px !important; }
  .pdt-4  { padding-top: 12px !important; }
  .pdt-5  { padding-top: 15px !important; }
  .pdt-6  { padding-top: 18px !important; }
  .pdt-7  { padding-top: 24px !important; }
  .pdt-8  { padding-top: 30px !important; }
  .pdt-9  { padding-top: 36px !important; }
  .pdt-10 { padding-top: 42px !important; }
}
@media (max-width: 767px) {
  .pdt--1 { padding-top: -2px !important; }
  .pdt--2 { padding-top: -4px !important; }
  .pdt--3 { padding-top: -6px !important; }
  .pdt--4 { padding-top: -8px !important; }
  .pdt--5 { padding-top: -10px !important; }
  .pdt-1  { padding-top: 2px !important; }
  .pdt-2  { padding-top: 4px !important; }
  .pdt-3  { padding-top: 6px !important; }
  .pdt-4  { padding-top: 8px !important; }
  .pdt-5  { padding-top: 10px !important; }
  .pdt-6  { padding-top: 12px !important; }
  .pdt-7  { padding-top: 16px !important; }
  .pdt-8  { padding-top: 20px !important; }
  .pdt-9  { padding-top: 24px !important; }
  .pdt-10 { padding-top: 28px !important; }
}
@media (max-width: 532px) {
  .pdt--1 { padding-top: -1px !important; }
  .pdt--2 { padding-top: -2px !important; }
  .pdt--3 { padding-top: -4px !important; }
  .pdt--4 { padding-top: -6px !important; }
  .pdt--5 { padding-top: -8px !important; }
  .pdt-1  { padding-top: 1px !important; }
  .pdt-2  { padding-top: 2px !important; }
  .pdt-3  { padding-top: 4px !important; }
  .pdt-4  { padding-top: 6px !important; }
  .pdt-5  { padding-top: 8px !important; }
  .pdt-6  { padding-top: 10px !important; }
  .pdt-7  { padding-top: 12px !important; }
  .pdt-8  { padding-top: 16px !important; }
  .pdt-9  { padding-top: 20px !important; }
  .pdt-10 { padding-top: 24px !important; }
}


/* Padding Bottom Classes */
.pdb--1  { padding-bottom: -4px !important; }
.pdb--2  { padding-bottom: -8px !important; }
.pdb--3  { padding-bottom: -12px !important; }
.pdb--4  { padding-bottom: -16px !important; }
.pdb--5  { padding-bottom: -20px !important; }
.pdb-1   { padding-bottom: 4px !important; }
.pdb-2   { padding-bottom: 8px !important; }
.pdb-3   { padding-bottom: 12px !important; }
.pdb-4   { padding-bottom: 16px !important; }
.pdb-5   { padding-bottom: 20px !important; }
.pdb-6   { padding-bottom: 24px !important; }
.pdb-7   { padding-bottom: 32px !important; }
.pdb-8   { padding-bottom: 40px !important; }
.pdb-9   { padding-bottom: 48px !important; }
.pdb-10  { padding-bottom: 56px !important; }
@media (max-width: 1239px) {
  .pdb--1  { padding-bottom: -3px !important; }
  .pdb--2  { padding-bottom: -6px !important; }
  .pdb--3  { padding-bottom: -9px !important; }
  .pdb--4  { padding-bottom: -12px !important; }
  .pdb--5  { padding-bottom: -16px !important; }
  .pdb-1   { padding-bottom: 3px !important; }
  .pdb-2   { padding-bottom: 6px !important; }
  .pdb-3   { padding-bottom: 9px !important; }
  .pdb-4   { padding-bottom: 12px !important; }
  .pdb-5   { padding-bottom: 16px !important; }
  .pdb-6   { padding-bottom: 18px !important; }
  .pdb-7   { padding-bottom: 24px !important; }
  .pdb-8   { padding-bottom: 30px !important; }
  .pdb-9   { padding-bottom: 36px !important; }
  .pdb-10  { padding-bottom: 42px !important; }
}
@media (max-width: 767px) {
  .pdb--1  { padding-bottom: -2px !important; }
  .pdb--2  { padding-bottom: -4px !important; }
  .pdb--3  { padding-bottom: -6px !important; }
  .pdb--4  { padding-bottom: -8px !important; }
  .pdb--5  { padding-bottom: -10px !important; }
  .pdb-1   { padding-bottom: 2px !important; }
  .pdb-2   { padding-bottom: 4px !important; }
  .pdb-3   { padding-bottom: 6px !important; }
  .pdb-4   { padding-bottom: 8px !important; }
  .pdb-5   { padding-bottom: 10px !important; }
  .pdb-6   { padding-bottom: 12px !important; }
  .pdb-7   { padding-bottom: 16px !important; }
  .pdb-8   { padding-bottom: 20px !important; }
  .pdb-9   { padding-bottom: 24px !important; }
  .pdb-10  { padding-bottom: 28px !important; }
}
@media (max-width: 532px) {
  .pdb--1  { padding-bottom: -2px !important; }
  .pdb--2  { padding-bottom: -4px !important; }
  .pdb--3  { padding-bottom: -6px !important; }
  .pdb--4  { padding-bottom: -8px !important; }
  .pdb--5  { padding-bottom: -10px !important; }
  .pdb-1   { padding-bottom: 2px !important; }
  .pdb-2   { padding-bottom: 4px !important; }
  .pdb-3   { padding-bottom: 6px !important; }
  .pdb-4   { padding-bottom: 8px !important; }
  .pdb-5   { padding-bottom: 10px !important; }
  .pdb-6   { padding-bottom: 12px !important; }
  .pdb-7   { padding-bottom: 14px !important; }
  .pdb-8   { padding-bottom: 16px !important; }
  .pdb-9   { padding-bottom: 18px !important; }
  .pdb-10  { padding-bottom: 20px !important; }
}

/* Padding Left Classes */
.pdl--1 { padding-left: -4px !important; }
.pdl--2 { padding-left: -8px !important; }
.pdl--3 { padding-left: -12px !important; }
.pdl--4 { padding-left: -16px !important; }
.pdl--5 { padding-left: -20px !important; }
.pdl-1  { padding-left: 4px !important; }
.pdl-2  { padding-left: 8px !important; }
.pdl-3  { padding-left: 12px !important; }
.pdl-4  { padding-left: 16px !important; }
.pdl-5  { padding-left: 20px !important; }
.pdl-6  { padding-left: 24px !important; }
.pdl-7  { padding-left: 32px !important; }
.pdl-8  { padding-left: 40px !important; }
.pdl-9  { padding-left: 48px !important; }
.pdl-10 { padding-left: 56px !important; }
@media (max-width: 1239px) {
  .pdl--1 { padding-left: -3px !important; }
  .pdl--2 { padding-left: -6px !important; }
  .pdl--3 { padding-left: -9px !important; }
  .pdl--4 { padding-left: -12px !important; }
  .pdl--5 { padding-left: -16px !important; }
  .pdl-1  { padding-left: 3px !important; }
  .pdl-2  { padding-left: 6px !important; }
  .pdl-3  { padding-left: 9px !important; }
  .pdl-4  { padding-left: 12px !important; }
  .pdl-5  { padding-left: 16px !important; }
  .pdl-6  { padding-left: 19px !important; }
  .pdl-7  { padding-left: 25px !important; }
  .pdl-8  { padding-left: 32px !important; }
  .pdl-9  { padding-left: 38px !important; }
  .pdl-10 { padding-left: 45px !important; }
}
@media (max-width: 767px) {
  .pdl--1 { padding-left: -2px !important; }
  .pdl--2 { padding-left: -4px !important; }
  .pdl--3 { padding-left: -7px !important; }
  .pdl--4 { padding-left: -9px !important; }
  .pdl--5 { padding-left: -12px !important; }
  .pdl-1  { padding-left: 2px !important; }
  .pdl-2  { padding-left: 4px !important; }
  .pdl-3  { padding-left: 7px !important; }
  .pdl-4  { padding-left: 9px !important; }
  .pdl-5  { padding-left: 12px !important; }
  .pdl-6  { padding-left: 14px !important; }
  .pdl-7  { padding-left: 19px !important; }
  .pdl-8  { padding-left: 24px !important; }
  .pdl-9  { padding-left: 29px !important; }
  .pdl-10 { padding-left: 34px !important; }
}
@media (max-width: 532px) {
  .pdl--1 { padding-left: -2px !important; }
  .pdl--2 { padding-left: -4px !important; }
  .pdl--3 { padding-left: -6px !important; }
  .pdl--4 { padding-left: -8px !important; }
  .pdl--5 { padding-left: -10px !important; }
  .pdl-1  { padding-left: 2px !important; }
  .pdl-2  { padding-left: 4px !important; }
  .pdl-3  { padding-left: 6px !important; }
  .pdl-4  { padding-left: 8px !important; }
  .pdl-5  { padding-left: 10px !important; }
  .pdl-6  { padding-left: 12px !important; }
  .pdl-7  { padding-left: 16px !important; }
  .pdl-8  { padding-left: 20px !important; }
  .pdl-9  { padding-left: 24px !important; }
  .pdl-10 { padding-left: 28px !important; }
}

/* Padding Right Classes */
.pdr--1 { padding-right: -4px !important; }
.pdr--2 { padding-right: -8px !important; }
.pdr--3 { padding-right: -12px !important; }
.pdr--4 { padding-right: -16px !important; }
.pdr--5 { padding-right: -20px !important; }
.pdr-1  { padding-right: 4px !important; }
.pdr-2  { padding-right: 8px !important; }
.pdr-3  { padding-right: 12px !important; }
.pdr-4  { padding-right: 16px !important; }
.pdr-5  { padding-right: 20px !important; }
.pdr-6  { padding-right: 24px !important; }
.pdr-7  { padding-right: 32px !important; }
.pdr-8  { padding-right: 40px !important; }
.pdr-9  { padding-right: 48px !important; }
.pdr-10 { padding-right: 56px !important; }
@media (max-width: 1239px) {
  .pdr--1 { padding-right: -3px !important; }
  .pdr--2 { padding-right: -6px !important; }
  .pdr--3 { padding-right: -9px !important; }
  .pdr--4 { padding-right: -13px !important; }
  .pdr--5 { padding-right: -16px !important; }
  .pdr-1  { padding-right: 3px !important; }
  .pdr-2  { padding-right: 6px !important; }
  .pdr-3  { padding-right: 9px !important; }
  .pdr-4  { padding-right: 13px !important; }
  .pdr-5  { padding-right: 16px !important; }
  .pdr-6  { padding-right: 20px !important; }
  .pdr-7  { padding-right: 27px !important; }
  .pdr-8  { padding-right: 33px !important; }
  .pdr-9  { padding-right: 40px !important; }
  .pdr-10 { padding-right: 46px !important; }
}
@media (max-width: 767px) {
  .pdr--1 { padding-right: -2px !important; }
  .pdr--2 { padding-right: -4px !important; }
  .pdr--3 { padding-right: -6px !important; }
  .pdr--4 { padding-right: -8px !important; }
  .pdr--5 { padding-right: -10px !important; }
  .pdr-1  { padding-right: 2px !important; }
  .pdr-2  { padding-right: 4px !important; }
  .pdr-3  { padding-right: 6px !important; }
  .pdr-4  { padding-right: 8px !important; }
  .pdr-5  { padding-right: 10px !important; }
  .pdr-6  { padding-right: 12px !important; }
  .pdr-7  { padding-right: 16px !important; }
  .pdr-8  { padding-right: 20px !important; }
  .pdr-9  { padding-right: 24px !important; }
  .pdr-10 { padding-right: 28px !important; }
}
@media (max-width: 532px) {
  .pdr--1 { padding-right: -1px !important; }
  .pdr--2 { padding-right: -2px !important; }
  .pdr--3 { padding-right: -3px !important; }
  .pdr--4 { padding-right: -4px !important; }
  .pdr--5 { padding-right: -5px !important; }
  .pdr-1  { padding-right: 1px !important; }
  .pdr-2  { padding-right: 2px !important; }
  .pdr-3  { padding-right: 3px !important; }
  .pdr-4  { padding-right: 4px !important; }
  .pdr-5  { padding-right: 5px !important; }
  .pdr-6  { padding-right: 6px !important; }
  .pdr-7  { padding-right: 8px !important; }
  .pdr-8  { padding-right: 10px !important; }
  .pdr-9  { padding-right: 12px !important; }
  .pdr-10 { padding-right: 14px !important; }
}

/* Margin Classes */
.mg--1 { margin: -4px !important; }
.mg--2 { margin: -8px !important; }
.mg--3 { margin: -12px !important; }
.mg--4 { margin: -16px !important; }
.mg--5 { margin: -20px !important; }
.mg-1  { margin: 4px !important; }
.mg-2  { margin: 8px !important; }
.mg-3  { margin: 12px !important; }
.mg-4  { margin: 16px !important; }
.mg-5  { margin: 20px !important; }
.mg-6  { margin: 24px !important; }
.mg-7  { margin: 32px !important; }
.mg-8  { margin: 40px !important; }
.mg-9  { margin: 48px !important; }
.mg-10 { margin: 56px !important; }
@media (max-width: 1239px) {
  .mg--1 { margin: -3px !important; }
  .mg--2 { margin: -6px !important; }
  .mg--3 { margin: -9px !important; }
  .mg--4 { margin: -13px !important; }
  .mg--5 { margin: -16px !important; }
  .mg-1  { margin: 3px !important; }
  .mg-2  { margin: 6px !important; }
  .mg-3  { margin: 9px !important; }
  .mg-4  { margin: 13px !important; }
  .mg-5  { margin: 16px !important; }
  .mg-6  { margin: 20px !important; }
  .mg-7  { margin: 26px !important; }
  .mg-8  { margin: 33px !important; }
  .mg-9  { margin: 40px !important; }
  .mg-10 { margin: 46px !important; }
}
@media (max-width: 767px) {
  .mg--1 { margin: -2px !important; }
  .mg--2 { margin: -4px !important; }
  .mg--3 { margin: -6px !important; }
  .mg--4 { margin: -8px !important; }
  .mg--5 { margin: -10px !important; }
  .mg-1  { margin: 2px !important; }
  .mg-2  { margin: 4px !important; }
  .mg-3  { margin: 6px !important; }
  .mg-4  { margin: 8px !important; }
  .mg-5  { margin: 10px !important; }
  .mg-6  { margin: 12px !important; }
  .mg-7  { margin: 16px !important; }
  .mg-8  { margin: 20px !important; }
  .mg-9  { margin: 24px !important; }
  .mg-10 { margin: 28px !important; }
}
@media (max-width: 532px) {
  .mg--1 { margin: -1px !important; }
  .mg--2 { margin: -3px !important; }
  .mg--3 { margin: -5px !important; }
  .mg--4 { margin: -7px !important; }
  .mg--5 { margin: -8px !important; }
  .mg-1  { margin: 1px !important; }
  .mg-2  { margin: 3px !important; }
  .mg-3  { margin: 5px !important; }
  .mg-4  { margin: 7px !important; }
  .mg-5  { margin: 8px !important; }
  .mg-6  { margin: 10px !important; }
  .mg-7  { margin: 12px !important; }
  .mg-8  { margin: 15px !important; }
  .mg-9  { margin: 18px !important; }
  .mg-10 { margin: 20px !important; }
}

/* Margin Top Classes */
.mgt--1 { margin-top: -4px !important; }
.mgt--2 { margin-top: -8px !important; }
.mgt--3 { margin-top: -12px !important; }
.mgt--4 { margin-top: -16px !important; }
.mgt--5 { margin-top: -20px !important; }
.mgt-1  { margin-top: 4px !important; }
.mgt-2  { margin-top: 8px !important; }
.mgt-3  { margin-top: 12px !important; }
.mgt-4  { margin-top: 16px !important; }
.mgt-5  { margin-top: 20px !important; }
.mgt-6  { margin-top: 24px !important; }
.mgt-7  { margin-top: 32px !important; }
.mgt-8  { margin-top: 40px !important; }
.mgt-9  { margin-top: 48px !important; }
.mgt-10 { margin-top: 56px !important; }
@media (max-width: 1239px) {
  .mgt--1 { margin-top: -3px !important; }
  .mgt--2 { margin-top: -6px !important; }
  .mgt--3 { margin-top: -10px !important; }
  .mgt--4 { margin-top: -14px !important; }
  .mgt--5 { margin-top: -18px !important; }
  .mgt-1  { margin-top: 3px !important; }
  .mgt-2  { margin-top: 6px !important; }
  .mgt-3  { margin-top: 10px !important; }
  .mgt-4  { margin-top: 14px !important; }
  .mgt-5  { margin-top: 18px !important; }
  .mgt-6  { margin-top: 22px !important; }
  .mgt-7  { margin-top: 28px !important; }
  .mgt-8  { margin-top: 34px !important; }
  .mgt-9  { margin-top: 40px !important; }
  .mgt-10 { margin-top: 46px !important; }
}
@media (max-width: 767px) {
  .mgt--1 { margin-top: -2px !important; }
  .mgt--2 { margin-top: -4px !important; }
  .mgt--3 { margin-top: -6px !important; }
  .mgt--4 { margin-top: -8px !important; }
  .mgt--5 { margin-top: -10px !important; }
  .mgt-1  { margin-top: 2px !important; }
  .mgt-2  { margin-top: 4px !important; }
  .mgt-3  { margin-top: 6px !important; }
  .mgt-4  { margin-top: 8px !important; }
  .mgt-5  { margin-top: 10px !important; }
  .mgt-6  { margin-top: 12px !important; }
  .mgt-7  { margin-top: 16px !important; }
  .mgt-8  { margin-top: 20px !important; }
  .mgt-9  { margin-top: 24px !important; }
  .mgt-10 { margin-top: 28px !important; }
}
@media (max-width: 532px) {
  .mgt--1 { margin-top: -1px !important; }
  .mgt--2 { margin-top: -3px !important; }
  .mgt--3 { margin-top: -5px !important; }
  .mgt--4 { margin-top: -7px !important; }
  .mgt--5 { margin-top: -9px !important; }
  .mgt-1  { margin-top: 1px !important; }
  .mgt-2  { margin-top: 3px !important; }
  .mgt-3  { margin-top: 5px !important; }
  .mgt-4  { margin-top: 7px !important; }
  .mgt-5  { margin-top: 9px !important; }
  .mgt-6  { margin-top: 11px !important; }
  .mgt-7  { margin-top: 14px !important; }
  .mgt-8  { margin-top: 18px !important; }
  .mgt-9  { margin-top: 22px !important; }
  .mgt-10 { margin-top: 26px !important; }
}

/* Margin Bottom Classes */
.mgb--1 { margin-bottom: -4px !important; }
.mgb--2 { margin-bottom: -8px !important; }
.mgb--3 { margin-bottom: -12px !important; }
.mgb--4 { margin-bottom: -16px !important; }
.mgb--5 { margin-bottom: -20px !important; }
.mgb-1  { margin-bottom: 4px !important; }
.mgb-2  { margin-bottom: 8px !important; }
.mgb-3  { margin-bottom: 12px !important; }
.mgb-4  { margin-bottom: 16px !important; }
.mgb-5  { margin-bottom: 20px !important; }
.mgb-6  { margin-bottom: 24px !important; }
.mgb-7  { margin-bottom: 32px !important; }
.mgb-8  { margin-bottom: 40px !important; }
.mgb-9  { margin-bottom: 48px !important; }
.mgb-10 { margin-bottom: 56px !important; }
@media (max-width: 1239px) {
  .mgb--1 { margin-bottom: -3px !important; }
  .mgb--2 { margin-bottom: -6px !important; }
  .mgb--3 { margin-bottom: -9px !important; }
  .mgb--4 { margin-bottom: -12px !important; }
  .mgb--5 { margin-bottom: -16px !important; }
  .mgb-1  { margin-bottom: 3px !important; }
  .mgb-2  { margin-bottom: 6px !important; }
  .mgb-3  { margin-bottom: 9px !important; }
  .mgb-4  { margin-bottom: 12px !important; }
  .mgb-5  { margin-bottom: 16px !important; }
  .mgb-6  { margin-bottom: 18px !important; }
  .mgb-7  { margin-bottom: 24px !important; }
  .mgb-8  { margin-bottom: 30px !important; }
  .mgb-9  { margin-bottom: 36px !important; }
  .mgb-10 { margin-bottom: 42px !important; }
}
@media (max-width: 767px) {
  .mgb--1 { margin-bottom: -2px !important; }
  .mgb--2 { margin-bottom: -4px !important; }
  .mgb--3 { margin-bottom: -6px !important; }
  .mgb--4 { margin-bottom: -8px !important; }
  .mgb--5 { margin-bottom: -12px !important; }
  .mgb-1  { margin-bottom: 2px !important; }
  .mgb-2  { margin-bottom: 4px !important; }
  .mgb-3  { margin-bottom: 6px !important; }
  .mgb-4  { margin-bottom: 8px !important; }
  .mgb-5  { margin-bottom: 12px !important; }
  .mgb-6  { margin-bottom: 14px !important; }
  .mgb-7  { margin-bottom: 18px !important; }
  .mgb-8  { margin-bottom: 22px !important; }
  .mgb-9  { margin-bottom: 26px !important; }
  .mgb-10 { margin-bottom: 30px !important; }
}
@media (max-width: 532px) {
  .mgb--1 { margin-bottom: -2px !important; }
  .mgb--2 { margin-bottom: -4px !important; }
  .mgb--3 { margin-bottom: -6px !important; }
  .mgb--4 { margin-bottom: -8px !important; }
  .mgb--5 { margin-bottom: -10px !important; }
  .mgb-1  { margin-bottom: 2px !important; }
  .mgb-2  { margin-bottom: 4px !important; }
  .mgb-3  { margin-bottom: 6px !important; }
  .mgb-4  { margin-bottom: 8px !important; }
  .mgb-5  { margin-bottom: 10px !important; }
  .mgb-6  { margin-bottom: 12px !important; }
  .mgb-7  { margin-bottom: 14px !important; }
  .mgb-8  { margin-bottom: 16px !important; }
  .mgb-9  { margin-bottom: 18px !important; }
  .mgb-10 { margin-bottom: 20px !important; }
}

/* Margin Left Classes */
.mgl--1 { margin-left: -4px !important; }
.mgl--2 { margin-left: -8px !important; }
.mgl--3 { margin-left: -12px !important; }
.mgl--4 { margin-left: -16px !important; }
.mgl--5 { margin-left: -20px !important; }
.mgl-1  { margin-left: 4px !important; }
.mgl-2  { margin-left: 8px !important; }
.mgl-3  { margin-left: 12px !important; }
.mgl-4  { margin-left: 16px !important; }
.mgl-5  { margin-left: 20px !important; }
.mgl-6  { margin-left: 24px !important; }
.mgl-7  { margin-left: 32px !important; }
.mgl-8  { margin-left: 40px !important; }
.mgl-9  { margin-left: 48px !important; }
.mgl-10 { margin-left: 56px !important; }
@media (max-width: 1239px) {
  .mgl--1 { margin-left: -3px !important; }
  .mgl--2 { margin-left: -6px !important; }
  .mgl--3 { margin-left: -9px !important; }
  .mgl--4 { margin-left: -12px !important; }
  .mgl--5 { margin-left: -16px !important; }
  .mgl-1  { margin-left: 3px !important; }
  .mgl-2  { margin-left: 6px !important; }
  .mgl-3  { margin-left: 9px !important; }
  .mgl-4  { margin-left: 12px !important; }
  .mgl-5  { margin-left: 16px !important; }
  .mgl-6  { margin-left: 20px !important; }
  .mgl-7  { margin-left: 24px !important; }
  .mgl-8  { margin-left: 28px !important; }
  .mgl-9  { margin-left: 32px !important; }
  .mgl-10 { margin-left: 40px !important; }
}
@media (max-width: 767px) {
  .mgl--1 { margin-left: -2px !important; }
  .mgl--2 { margin-left: -4px !important; }
  .mgl--3 { margin-left: -6px !important; }
  .mgl--4 { margin-left: -8px !important; }
  .mgl--5 { margin-left: -12px !important; }
  .mgl-1  { margin-left: 2px !important; }
  .mgl-2  { margin-left: 4px !important; }
  .mgl-3  { margin-left: 6px !important; }
  .mgl-4  { margin-left: 8px !important; }
  .mgl-5  { margin-left: 12px !important; }
  .mgl-6  { margin-left: 16px !important; }
  .mgl-7  { margin-left: 20px !important; }
  .mgl-8  { margin-left: 24px !important; }
  .mgl-9  { margin-left: 28px !important; }
  .mgl-10 { margin-left: 32px !important; }
}
@media (max-width: 532px) {
  .mgl--1 { margin-left: -2px !important; }
  .mgl--2 { margin-left: -4px !important; }
  .mgl--3 { margin-left: -6px !important; }
  .mgl--4 { margin-left: -8px !important; }
  .mgl--5 { margin-left: -10px !important; }
  .mgl-1  { margin-left: 2px !important; }
  .mgl-2  { margin-left: 4px !important; }
  .mgl-3  { margin-left: 6px !important; }
  .mgl-4  { margin-left: 8px !important; }
  .mgl-5  { margin-left: 10px !important; }
  .mgl-6  { margin-left: 12px !important; }
  .mgl-7  { margin-left: 16px !important; }
  .mgl-8  { margin-left: 20px !important; }
  .mgl-9  { margin-left: 24px !important; }
  .mgl-10 { margin-left: 28px !important; }
}

/* Margin Right Classes */
.mgr--1 { margin-right: -4px !important; }
.mgr--2 { margin-right: -8px !important; }
.mgr--3 { margin-right: -12px !important; }
.mgr--4 { margin-right: -16px !important; }
.mgr--5 { margin-right: -20px !important; }
.mgr-1  { margin-right: 4px !important; }
.mgr-2  { margin-right: 8px !important; }
.mgr-3  { margin-right: 12px !important; }
.mgr-4  { margin-right: 16px !important; }
.mgr-5  { margin-right: 20px !important; }
.mgr-6  { margin-right: 24px !important; }
.mgr-7  { margin-right: 32px !important; }
.mgr-8  { margin-right: 40px !important; }
.mgr-9  { margin-right: 48px !important; }
.mgr-10 { margin-right: 56px !important; }
@media (max-width: 1239px) {
  .mgr--1 { margin-right: -3px !important; }
  .mgr--2 { margin-right: -6px !important; }
  .mgr--3 { margin-right: -9px !important; }
  .mgr--4 { margin-right: -12px !important; }
  .mgr--5 { margin-right: -15px !important; }
  .mgr-1  { margin-right: 3px !important; }
  .mgr-2  { margin-right: 6px !important; }
  .mgr-3  { margin-right: 9px !important; }
  .mgr-4  { margin-right: 12px !important; }
  .mgr-5  { margin-right: 15px !important; }
  .mgr-6  { margin-right: 18px !important; }
  .mgr-7  { margin-right: 24px !important; }
  .mgr-8  { margin-right: 30px !important; }
  .mgr-9  { margin-right: 36px !important; }
  .mgr-10 { margin-right: 42px !important; }
}
@media (max-width: 767px) {
  .mgr--1 { margin-right: -2px !important; }
  .mgr--2 { margin-right: -4px !important; }
  .mgr--3 { margin-right: -6px !important; }
  .mgr--4 { margin-right: -8px !important; }
  .mgr--5 { margin-right: -10px !important; }
  .mgr-1  { margin-right: 2px !important; }
  .mgr-2  { margin-right: 4px !important; }
  .mgr-3  { margin-right: 6px !important; }
  .mgr-4  { margin-right: 8px !important; }
  .mgr-5  { margin-right: 10px !important; }
  .mgr-6  { margin-right: 12px !important; }
  .mgr-7  { margin-right: 16px !important; }
  .mgr-8  { margin-right: 20px !important; }
  .mgr-9  { margin-right: 24px !important; }
  .mgr-10 { margin-right: 28px !important; }
}
@media (max-width: 532px) {
  .mgr--1 { margin-right: -2px !important; }
  .mgr--2 { margin-right: -4px !important; }
  .mgr--3 { margin-right: -6px !important; }
  .mgr--4 { margin-right: -8px !important; }
  .mgr--5 { margin-right: -10px !important; }
  .mgr-1  { margin-right: 2px !important; }
  .mgr-2  { margin-right: 4px !important; }
  .mgr-3  { margin-right: 6px !important; }
  .mgr-4  { margin-right: 8px !important; }
  .mgr-5  { margin-right: 10px !important; }
  .mgr-6  { margin-right: 12px !important; }
  .mgr-7  { margin-right: 16px !important; }
  .mgr-8  { margin-right: 20px !important; }
  .mgr-9  { margin-right: 24px !important; }
  .mgr-10 { margin-right: 28px !important; }
}

.lh-1 {line-height: 1.3 !important; }
.lh-2 {line-height: 1.6 !important; }
.lh-3 {line-height: 1.8 !important; }